version: '3.8'

services:
  mariadb:
    container_name: mariadb
    build:
      context: ./requirements/mariadb
    image: mariadb
    env_file: .env
    volumes:
      - /home/juwang/data/mariadb:/var/lib/mysql
    networks:
      - inception
    restart: unless-stopped

  wordpress:
    container_name: wordpress
    build:
      context: ./requirements/wordpress
    image: wordpress
    env_file: .env
    volumes:
      - /home/juwang/data/wordpress:/var/www/html
    networks:
      - inception
    depends_on:
      - mariadb
    restart: unless-stopped

  nginx:
    container_name: nginx
    build:
      context: ./requirements/nginx
    image: nginx
    ports:
      - "443:443"
    volumes:
      - /home/juwang/data/wordpress:/var/www/html
    networks:
      - inception
    depends_on:
      - wordpress
    restart: unless-stopped

  adminer:
    container_name: adminer
    build:
      context: ./requirements/bonus/adminer
    image: adminer
    ports:
      - "8080:8080"  # for browser visit
    networks:
      - inception
    depends_on:
      - mariadb
    restart: unless-stopped

networks:
  inception:
    driver: bridge

volumes:
  mariadb:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: /home/juwang/data/mariadb
