# Domain Name
DOMAIN_NAME=example.42.fr

# MariaDB Database
DB_NAME=example
DB_USER=example
DB_PASS=example
DB_ROOT_PASS=example

# WordPress Admin
WP_ADMIN_USER=example
WP_ADMIN_PASS=example
WP_ADMIN_EMAIL=example@42.fr

# WordPress User
WP_USER=example
WP_USER_PASS=example
WP_USER_EMAIL=example@42.fr
